Chameleon==2.11
Mako==0.7.3
PasteDeploy==1.5.0
PyBrowserID==0.9.1
Pygments==1.6
WebOb==1.2.3
deform==0.9.6
deform-bootstrap==0.2.6
deform-bootstrap-extra==0.2
distribute==0.6.35
ipython==0.13.1
pyramid==1.4
pyramid-debugtoolbar==1.0.4
pyramid-deform==0.2a5
