Chameleon==2.11
Mako==0.7.3
MarkupSafe==0.18
Paste==1.7.5.1
PasteDeploy==1.5.0
PyBrowserID==0.9.1
Pygments==1.6
RPi.GPIO==0.5.3a
SQLAlchemy==0.8.1
Tempita==0.5.1
WebError==0.10.3
WebOb==1.2.3
argparse==1.2.1
bag==0.3.5
-e git+git@github.com:ygingras/brewcontrol.git@2f9cac6214d890ebaf7df62c8207a3b278aa5eef#egg=brewcontrol-dev
colander==1.0a5
deform==0.9.6
deform-bootstrap==0.2.6
deform-bootstrap-extra==0.2
distribute==0.6.35
ipython==0.13.1
nine==0.2.0
peppercorn==0.4
pyramid==1.4
pyramid-debugtoolbar==1.0.4
pyramid-deform==0.2a5
pyramid-tm==0.7
repoze.lru==0.6
requests==1.2.3
transaction==1.4.1
translationstring==1.1
venusian==1.0a8
waitress==0.8.5
wsgiref==0.1.2
zope.deprecation==4.0.2
zope.interface==4.0.5
zope.sqlalchemy==0.7.2
